<div class="page-transition" [class.page-loaded]="pageLoaded">
  <div class="container">
    <mat-card appearance="outlined" class="example-card">
      <!-- Centered title -->
      <h2 class="mat-card-title">Scanning Preview</h2>

      <mat-card-content class="pdf-container">
        <pdf-viewer src="assets/pdf-sample.pdf"
              [render-text]="true"
              [original-size]="false"
              class="pdf-viewer"
        ></pdf-viewer>

        <mat-form-field appearance="fill">
          <mat-label>Color Options</mat-label>
          <mat-select [(value)]="selectedColor">
            <mat-option *ngFor="let color of colors" [value]="color">{{ color }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Resolution</mat-label>
          <mat-select [(value)]="selectedResolution">
            <mat-option *ngFor="let resolution of resolutions" [value]="resolution">{{ resolution }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="center-actions">
        <button mat-raised-button color="primary" (click)="confirm()">Confirm</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
