mat-card {
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


mat-icon {
  font-size: 20px;
  color: #005ea6;
}
.example-card {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 290px; /* Fill the grid tile */
  width: 290px;
  padding: 16px; /* Optional padding */
  text-align: center; /* Center text */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for aesthetics */
  border-radius: 8px; /* Rounded corners for aesthetics */
  transition: transform 0.2s; /* Smooth transition */
  margin: 0 auto; /* Center the grid list */

}

mat-card.rectangle-style {
  width: 592px;
  height: 150px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
